---
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";
import Card from "../../components/Card.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
import { getCollection } from "astro:content";

const posts = (await getCollection("blog"))?.sort(
  (a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf(),
);
---

<!doctype html>
<html lang="en" class="dark">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <BaseLayout>
      <Header title={SITE_TITLE} />
      <main class="space-y-8 pt-2 pb-8">
        <p class="text-stone-200">Some thoughts, ideas, and opinions.</p>
        <div class="h-0.5 bg-stone-800"></div>

        {
          posts?.length > 0 ? (
            <div class="space-y-10">
              {posts.map((post) => (
                <Card
                  name={post.data.title}
                  description={post.data.description}
                  link={`/blog/${post.slug}`}
                  date={post.data.pubDate}
                />
              ))}
            </div>
          ) : (
            <div class="text-stone-200">
              <p>There are no posts yet.</p>
            </div>
          )
        }
      </main>
      <Footer />
    </BaseLayout>
  </body>
</html>
